
    #mouse{
        width:2000px;
        height:1400px;
        cursor:auto;
    }
    #title{         
        position: absolute;
        left: 400px;
        top: 0px;
        font-size: 30px;
        font-family:"Comic Sans", Helvetica, sans-serif;
        background: -webkit-linear-gradient(left,rgba(221, 160, 221, 0.9), rgba(255, 0, 0, 0.7));
        color: white;

    }
    #Canvas{
        position: relative;
        left: 300px;
        top: 150px;
        background:white;
    }
    #pen{
        position: absolute;
        left: 1000px;
        top: 250px;
        cursor: url(Pen.cur),auto;
    }
    #eraser{
        position: absolute;
        left: 1150px;
        top: 250px;
        cursor: url(Eraser.cur),auto;
    }
    #rectangle{
        position: absolute;
        left: 1000px;
        top: 400px;
        cursor: url(3Drectangle.cur),auto;
    }
    #circle{
        position:absolute;
        left: 1150px;
        top: 400px;
        cursor: url(Circle.cur),auto;
    }
    #triangle{
        position: absolute;
        left: 1000px;
        top: 550px;
        cursor: url(3Dtriangle.cur),auto;
    }
    #reset{
        position: absolute;
        left: 1150px;
        top: 550px;
        cursor: url(HANDSCURSOR.cur),auto;
    }
    #undo{
        position: absolute;
        left: 1000px;
        top: 700px;
        cursor: url(HANDSCURSOR2.cur),auto;
    }
    #redo{
        position: absolute;
        left: 1150px;
        top: 700px;
        cursor: url(HANDSCURSOR3.cur),auto;
    }
    #brushsize{
        position: absolute;
        left: 1150px;
        top: 190px;
    }
    #brushsizelabel{
        position: absolute;
        left: 1000px;
        top: 190px;
    }
    #transparent{
        position: absolute;
        left: 1150px;
        top: 220px;
    }
    #transparentlabel{
        position: absolute;
        left: 1000px;
        top: 220px;
    }
    #type1{
        position: absolute;
        left: 1200px;
        top: 90px;
    }
    #type2{
        position: absolute;
        left: 1100px;
        top: 90px;
    } 
    #typelabel{
        position: absolute;
        left: 1000px;
        top: 90px;
    } 
    #color{
        position: absolute;
        left: 1290px;
        top: 190px;
    }
    #print{
        position: absolute;
        left: 1000px;
        top: 155px;
        cursor: url(text.cur),auto;
    }
    #text{
        position: absolute;
        left: 1100px;
        top: 155px;
    }
    #number{
        position: absolute;
        left: 1100px;
        top: 125px;
    }
    #numberlabel{
        position: absolute;
        left: 1000px;
        top: 125px;
    }
    #typeface{
        position: absolute;
        left: 1050px;
        top: 50px;
    }
    #typefacelabel{
        position: absolute;
        left: 1000px;
        top: 50px;
    }
    #upload{
        position: absolute;
        left: 70px;
        top: 290px;
        color: greenyellow;
    }
    #uploadlabel{
        position: absolute;
        left: 70px;
        top: 230px;
        font-size: 35px;
        color: greenyellow;
    }
    #download{
        position: absolute;
        left: 70px;
        top: 350px;
        font-size: 30px;       
    }